#exitbutton{
    position: absolute;
    height: 46px;
    color: #FFFFFF;
    line-height: 46px;
    left: 50%;
    margin-left: -49px;
    font-size: 24px;
    z-index: 99999;
  }

  #exitbutton .fa-close{
    margin-right: 5px;
  }
  a-box{
    pointer-events: none;
  }
  .h100{
    height: 100%;
  }
  #comment-block{
    height: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }

  #cover{
    transition: opacity 0.7s ease;
  }

  #cover-contain{
    position: absolute;
    left: 20px;
    top: 20%;
  }

  .start img{
    width: 100%;
  }

  @keyframes opchange{
    0% {opacity: 1}
    50% {opacity: 0.6}
    100% {opacity: 1}
  }

  .start{
    animation-name: opchange;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    position: absolute;
    bottom: 140px;
    left: 50%;
    margin-left: -65px;
    width: 130px;
  }

  .youtu a{
    color: #FFFFFF;
    text-decoration: none;
  }

  .youtu{
    position: absolute;
    font-weight: bold;
    bottom: 80px;
    left: 50%;
    margin-left: -60px;
    font-size: 24px;
    color: #FFFFFF;
    text-decoration: underline;
  }
  .plus{
    position: absolute;
    width: 35px;
    height: 35px;
    top: 64px;
    left: 20px;
    z-index: 10;
    transition: opacity 0.7s ease;
    opacity: 0;
    display: none;
  }
  .plus.show{
    display: block;
  }
  .plus.expand{
    opacity: 1;
  }
  .plus img{
    width: 100%;
  }
  .circle{
    opacity: 0;
    transition: opacity 0.7s ease;
    position: absolute;
    bottom: 65px;
    width: 160px;
    left: 50%;
    margin-left: -80px;
  }
  .circle img{
    width: 100%;
  }
  .circle.show{
    opacity: 1;
  }

  @media screen and (max-width: 767px){
    #question{
      width: 75%;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1023px){
    .start{
      width: 200px;
      margin-left: -100px;
    }
  }

  @media screen and (min-width: 1024px){
    #cover-contain{      
      left: 10%;
    }
  }

  #cover {
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: absolute;
    z-index: 10;
    width: 100%;
    top: 0;
    left: 0;
}
.sub-title{
    font-size: 24px;
    color: #FFFFFF;
    line-height: 1.1;
    letter-spacing: -1px;
    text-shadow: 0 0px 18px rgba(48,48,48,1);
    margin-top: 10px;
}
#bg-contain{
    transition: opacity 0.7s ease;
    overflow: hidden;
}
h1{
    font-size: 55px;
    letter-spacing: -1px;
    color: #FFFFFF;
    line-height: 1.1;
    text-shadow: 0 0px 18px rgba(48,48,48,1);
    margin: 0;
    font-weight: bold;
}
#cover img{
    width: 100%;
}

#cover .line-share{
    width: initial;
}

@media screen and (max-width: 767px){
    h1{
        font-size: 40px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    h1{
        font-size: 45px;
    }
}

.share-block{
    height: 28px;
}
.fb-like-block{
    float: left;
}
.line-block{
    float: left;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 1px;
}

h2{
  text-align: left;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.5;
  margin: 0;
}
.chart-title{
  font-size: 28px;
}
p{
  font-size: 21px;
  margin: 0;
  color: #FFFFFF;
}
.img-say{
  font-size: 17px;
  color: gray;
  margin-top: 5px;
}
.content.intro{
padding: 70px 20px 30px 20px;
}
.intro{
pointer-events: none;
position: absolute;
top: 0;
left: 0;
background-color: rgba(0, 0, 0, 0.8);
transition: all 0.7s ease;
width: 100%;
z-index: 10;
transform-origin: top left;
opacity: 0;
}
.intro.min{
top: 64px;
left: 20px;
transform: scale(0);
}
.min p{
  display: none;
}
@media screen and (max-width: 767px){
  h2{
      font-size: 26px;
  }
  .chart-title{
      font-size: 26px;
  }
  p{
      font-size: 18px;
      line-height: 32px;
  }
  .content{
      padding: 64px 20px;
  }
  .img-say{
      font-size: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
  .container{
      width: 90%;
  }
  .content.intro{
      padding: 30px;
  }
  .intro{
      top: 10%;
      left: 5%;
  }
  h2{
      font-size: 30px;
  }
  p{
      font-size: 20px;
      line-height: 32px;
  }
}
@media screen and (min-width: 1025px){
  .container{
      width: 880px;
  }
  .content{
      padding: 100px 0px;
  }
  .intro{
      top: 10%;
      left: 5%;
  }
  .content.intro{
      padding: 30px;
  }
  p>br{
      line-height: 50px;
  }
}